#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden !important;
}

.hero-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.backgroundImg-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.title {
  position: relative;
  width: fit-content;
  margin-bottom: 20px;
}

.title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 30%;
  height: 10px;
  border-radius: 10px;
  background-color: var(--color-primary);
}

.rbc-calendar-container {
  all: unset;
  display: block;
  width: 100%;
  overflow-x: auto;
}

.rbc-toolbar button {
  background: none !important;
  border: none !important;
}

.rbc-header {
  background-color: #f9fafb;
  font-weight: 600;
}

.rbc-today {
  background-color: #eef6ff;
}